*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Grotesk-Display', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  background-color: #c1c1c1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 12px;
}